@import url("https://use.typekit.net/wmo1yjc.css");
a {
  color: inherit;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #071540;
  color: white;
  font-family: "lato", sans-serif;
  height: 100%;
  margin: 0;
  height: auto;
  overflow-x: hidden;
  padding: 0px;
  width: 100%;
}

code {
  font-style: oblique;
}

h1, h2, h3, p, ul {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

pre {
  overflow: auto;
  margin: 3rem 0 4rem 0;
  font-size: 16px;
  background-color: #03081a;
  padding: 2rem;
}

@media screen and (min-width: 992px) {
  pre {
    font-size: calc(20px + 0.2vw);
  }
}

.intro {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 95vh;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .intro {
    height: 100vh;
  }
}

.intro .intro-botcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.intro .intro-text {
  display: flex;
  font-size: calc(21px + 1.5vw);
  line-height: 1.5;
  max-width: 80%;
}

@media screen and (min-width: 768px) {
  .intro .intro-text {
    font-size: calc(28px + 1.5vw);
    line-height: 1.5;
    max-width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .intro .intro-text {
    font-size: calc(28px + 1.5vw);
    line-height: 1.5;
    max-width: 80%;
  }
}

@media screen and (max-height: 575.98px) and (orientation: landscape) {
  .intro .intro-text {
    font-size: 25px;
    line-height: 1;
  }
}

.intro .intro-text__phrase {
  color: white;
}

.intro .intro-text__word {
  color: #2CBF6C;
}

.intro .contact {
  display: flex;
  flex-direction: row;
  font-size: calc(50px + 6.5vw);
  gap: 5vw;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .intro .contact {
    flex-direction: row;
    font-size: calc(50px + 8.5vw);
  }
}

@media screen and (min-width: 992px) {
  .intro .contact {
    font-size: calc(28px + 8.5vw);
  }
}

@media screen and (max-height: 575.98px) and (orientation: landscape) {
  .intro .contact {
    font-size: 50px;
  }
}

.intro .contact .contact-icon {
  color: white;
}

.intro .contact .contact-icon:hover {
  color: #2CBF6C;
}

.intro .contact .contact-icon__text {
  font-size: calc(20px + 0.5vw);
}

.intro .fa-solid, .intro .fa-brands {
  width: 20vw;
}

.intro .arrowcontainer {
  display: flex;
}

.intro .fa-angle-down {
  font-size: 15vw;
}

.intro .fa-angle-down:hover {
  color: #2CBF6C;
}

@media screen and (min-width: 768px) {
  .intro .fa-angle-down {
    font-size: 5vw;
  }
}

@media screen and (max-height: 575.98px) and (orientation: landscape) {
  .intro .fa-angle-down {
    font-size: 30px;
  }
}

.nav {
  background-color: #03081a;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .nav {
    background-color: #071540;
    bottom: auto;
    left: auto;
    position: fixed;
    padding-right: 30px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }
}

.nav .nav-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  gap: 3rem;
  height: 51px;
}

@media screen and (min-width: 992px) {
  .nav .nav-icons {
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    font-size: calc(21px + 1.5vw);
    justify-content: flex-end;
    gap: 2rem;
    height: auto;
  }
}

.nav .nav-icons__icon {
  text-align: center;
  width: 45px;
}

@media screen and (min-width: 992px) {
  .nav .nav-icons__icon {
    height: 55px;
    text-align: right;
    width: 60px;
  }
}

.nav .nav-icons__icon:hover {
  color: #2CBF6C;
}

.projecttitle {
  font-size: calc(28px + 3vw);
  text-align: center;
}

.projectsection {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6vw 0 0 0;
}

@media screen and (min-width: 992px) {
  .projectsection {
    padding: 6vw 0 8rem 0;
  }
}

.project {
  align-items: center;
  border-color: #2CBF6C;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 95%;
}

@media screen and (min-width: 992px) {
  .project {
    align-items: start;
    border-width: 3px;
    display: grid;
    grid-template-areas: 'header header header right right right' 'main main main right right right' 'left left left right right right' 'footer footer footer footer footer footer';
    padding: 3rem;
    width: 70%;
  }
}

.project .project-name {
  display: flex;
  font-size: calc(28px + 1vw);
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .project .project-name {
    grid-area: header;
    padding: 0;
    text-align: left;
  }
}

.project .project-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 0.3vw);
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .project .project-info {
    align-items: flex-start;
    align-self: center;
    display: flex;
    grid-area: main;
    padding: 2rem 0;
    text-align: left;
  }
}

.project-img {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

@media screen and (min-width: 992px) {
  .project-img {
    flex-direction: column;
    grid-area: right;
    justify-content: center;
    justify-self: end;
    padding: 0;
    padding-left: 2rem;
  }
}

.project-img__pic {
  border: 3px solid white;
  border-radius: 20px;
  display: block;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

@media screen and (min-width: 992px) {
  .project-img__pic {
    height: calc(300px + .5vw);
    width: calc(300px + .5vw);
  }
}

.project-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
}

@media screen and (min-width: 992px) {
  .project-btns {
    align-items: flex-start;
    align-self: flex-end;
    flex-flow: wrap;
    gap: 1rem;
    grid-area: left;
    justify-content: flex-start;
    padding: 0;
  }
}

.project-btns__button {
  background-color: #41bf78;
  border: 1px solid #2CBF6C;
  border-radius: 12px;
  color: #071540;
  cursor: pointer;
  padding: 10px 30px;
  font-size: 2rem;
  text-align: center;
  width: 230px;
}

.project-btns__button:hover {
  box-shadow: -3px 5px #166036;
}

.project-btns__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .project-btns__wrapper {
    justify-content: flex-start;
  }
}

.project-btns__button2 {
  background-color: #071540;
  border: 1px solid #2CBF6C;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 30px;
  text-align: center;
  width: 230px;
}

.project-btns__button2:hover {
  background-color: #2CBF6C;
  color: #071540;
}

.project-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .project-tools {
    grid-area: footer;
    justify-content: flex-start;
    padding: 0;
    padding-top: 6rem;
    text-align: left;
  }
}

.project-tools__tag {
  background-color: #798198;
  border-radius: 3px;
  color: #03081a;
  display: flex;
  margin: 2px;
  padding: 4px 8px 4px 4px;
  width: fit-content;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 1vw);
  justify-content: center;
  margin-bottom: 110px;
  padding: 3rem 15% 0 15%;
}

@media screen and (min-width: 992px) {
  .footer {
    margin: 0;
    font-size: calc(28px + 1vw);
    padding: 0 15% 8rem 15%;
  }
}

.footer .footer-text {
  display: flex;
  padding-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .footer .footer-text {
    padding-bottom: 3rem;
  }
}

.footer .footer-links {
  font-size: calc(28px + 2vw);
  text-align: center;
  width: 100%;
  word-spacing: 5rem;
}

@media screen and (min-width: 992px) {
  .footer .footer-links {
    word-spacing: 7rem;
  }
}

.footer .footer-links__icon:hover {
  color: #2CBF6C;
}

.intro {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 95vh;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .intro {
    height: 100vh;
  }
}

.title {
  font-size: calc(20px + 2vw);
  text-align: center;
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 3rem;
    padding: 0 10vw;
    text-align: center;
  }
}

.preview {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .preview {
    align-items: flex-end;
    flex-direction: row;
    width: 80vw;
  }
}

.preview .preview-desktop__pic {
  height: auto;
  width: 23rem;
}

@media screen and (min-width: 768px) {
  .preview .preview-desktop__pic {
    width: 38rem;
  }
}

@media screen and (min-width: 992px) {
  .preview .preview-desktop__pic {
    height: auto;
    width: 50.4rem;
  }
}

.preview .preview-mobile__pic {
  height: auto;
  width: 7.6rem;
}

@media screen and (min-width: 768px) {
  .preview .preview-mobile__pic {
    width: 13rem;
  }
}

@media screen and (min-width: 992px) {
  .preview .preview-mobile__pic {
    height: auto;
    width: 16.9rem;
  }
}

.main {
  padding: 3rem 10vw 0 10vw;
}

@media screen and (min-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 3rem 19vw;
  }
}

@media screen and (min-width: 992px) {
  .description {
    text-align: left;
  }
}

.description .description-title {
  font-size: calc(28px + 1vw);
  padding: 2rem 0;
}

@media screen and (min-width: 992px) {
  .description .description-title {
    padding: 3rem 0;
  }
}

.description .description-text {
  font-size: calc(20px + 0.3vw);
  padding-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .description .description-text {
    padding-bottom: 2rem;
  }
}

.description .description-text__item {
  margin-bottom: 20px;
}

.description .description-pic {
  padding: 5rem 0;
  width: 75vw;
}

@media screen and (min-width: 992px) {
  .description .description-pic {
    width: 60vw;
  }
}

.links {
  flex-direction: column;
  padding-bottom: 5rem;
}

@media screen and (min-width: 992px) {
  .links {
    align-items: center;
    display: flex;
    padding: 3rem 19vw;
    text-align: left;
  }
}

.links .links-title {
  font-size: calc(20px + 1vw);
  padding: 1rem 0 2rem 0;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .links .links-title {
    font-size: calc(28px + 1vw);
    padding: 2rem 0 3rem 0;
  }
}

.links .links-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 1vw);
  gap: 2rem;
}

@media screen and (min-width: 992px) {
  .links .links-btn {
    flex-direction: row;
    gap: 4rem;
  }
}

.links .links-btn__button {
  background-color: #071540;
  border: 1px solid #2CBF6C;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 3rem;
  padding: 10px 30px;
  text-align: center;
  width: 200px;
}

.links .links-btn__button:hover {
  background-color: #2CBF6C;
  color: #071540;
}

.line {
  background-color: #2CBF6C;
  border: none;
  color: #2CBF6C;
  height: 1px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  width: 80vw;
}

@media screen and (min-width: 992px) {
  .line {
    margin-bottom: 5rem;
    margin-top: 3rem;
    width: 40vw;
  }
}

.invisline {
  margin: 3rem 0;
}

.resumebody {
  line-height: 2rem;
  padding: 2rem 2rem 4rem 2rem;
}

@media screen and (min-width: 992px) {
  .resumebody {
    padding: 2rem 6rem;
  }
}

.resumedownload {
  font-size: 2rem;
  line-height: 3rem;
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  .resumedownload {
    line-height: 5rem;
  }
}

.sectiontitle {
  padding: 4rem 0 0;
}

.resumedate {
  padding: 0.5rem 0;
}

.resumeitem {
  padding-top: 2rem;
}

.previewtext {
  font-size: 26px;
  margin-bottom: -3rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  transition: .4s;
}

input:focus + .slider .slider.round {
  border-radius: 34px;
}

input:focus + .slider .slider.round:before {
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */