@import "variables";


html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height:auto;
    font-family: "lato", sans-serif;
    background-color: #2CBF6C;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;

}

.line {
    display: block;
    width: 30%;
    border-top: 3px solid #84D9B1;
    margin: 0 auto;
    padding-bottom: 2rem;
    
    
}

.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    
    

    .intro-text {
        max-width: 80%;
        display: flex;
        font-size: calc(21px + 1.5vw);
        line-height: 1.5;
       
        

            @include media-md {
                max-width: 80%;
                font-size: calc(28px + 1.5vw);
                line-height: 1.5;
                
            }
            
            @include media-lg {
                max-width: 80%;
                font-size: calc(28px + 1.5vw);
                line-height: 1.5;
            }

            @include media-sm-landscape {
                font-size: 25px;
                line-height: 1;
            }

        &__phrase {
            color: white;
        }

        &__word {
            color: #071540;
        }
    }

    .contact {
        
        font-size: calc(50px + 6.5vw);
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 5vw;
        

        @include media-md {
            font-size: calc(50px + 8.5vw);
            flex-direction: row;
        }

        @include media-lg {
            font-size: calc(28px + 8.5vw);
            
        }

        @include media-sm-landscape {
            font-size: 50px;
            
        }

        .contact-icon {
            color:white;
            

            &:hover {
                color: #071540;
            }

            &__text {
                font-size: 2vw;
            }
        }
    }

    .fa-solid {
        width: 20vw;
    }

    .fa-brands {
        width: 20vw;
    }

    .arrowcontainer {
        display: flex;
        
    }

    .fa-angle-down {
        font-size: 15vw;
        

        &:hover {
            color: #071540;
        }

        @include media-md {
          font-size: 5vw;
        }

        @include media-sm-landscape {
            font-size: 30px;
        }
    }
    }

    

.projecttitle {
    text-align: center;
    font-size: 3vw;
}

.projectsection {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding: 6vw 0;
    gap: 4rem;
    

}

.project {
    display: flex;
    flex-direction: column;
    background-color: #071540;
    border-radius: 20px;
    overflow: hidden;
    width: 70%;

    @include media-md {
        flex: 50%;
    }

    .project-name {
        text-align: center;
        padding: 2rem 2rem;
        background-color: #06133a;
    }

    .project-container {
        flex-direction: row;
        padding: 0 4rem;

        @include media-md {
            flex-direction: column;
            padding: 2rem 4rem 1rem 4rem;
        }
    }

    .project-info {
        display: flex;
        flex-direction: column;

        @include media-lg {
            flex-direction: row;
            padding-left: 2rem;
        }

      &__container {
        position: relative;
        width: 200px;
        height: 200px;
        display: inline-block;
        margin: 2rem auto;
        text-align: center;


        @include media-lg {
        margin-top: 2rem;
        margin-left: 2rem;
        }
      }

        &__img {
            margin: 0 auto;
            width: 200px;
            height: 200px;
            display: block;
            border-radius: 20px;
        }

        &__live {
           position: absolute;
           background: rgba(161, 161, 161, 0.8);
           left: 0;
           top: 0;
           height: 50%;
           width: 100%;
           font-size: 30px;
           border-top-left-radius: 20px;
           border-top-right-radius: 20px;
           line-height: 100px;
           font-weight: 900;

           &:hover {
            color: white;
            background-color: #41BF78;
        }

        }

        &__code {
            position: absolute;
            background: rgba(161, 161, 161, 0.8);
            right: 0;
            bottom: 0;
            height: 50%;
            width: 100%;
            font-size: 30px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            line-height: 100px;
            font-weight: 900;

            &:hover {
                color: white;
                background-color: #41BF78;
            }
         }

        &__goalstext {
            padding: 1rem 0;
            text-align: center;

            @include media-lg {
                text-align: left;
            }
        }

        &__goalstitle {
            text-align: center;

            @include media-lg {
                text-align: left;
            }
        }
    }


    .project-tools {
        padding-top: 1rem;
        text-align: center;

        @include media-lg {
            text-align: left;
        }

        &__list {
            padding: 1rem 0 2rem 0;
            text-align: center;

            @include media-lg {
                text-align: left;
            }
        }
    }
}

.footer {
    position: relative;
    padding: 0 2rem;
}







@import "responsive";

