@import "variables";

body {
    margin: 0;
    height:auto;
    font-family: "lato", sans-serif;
    background-color: #8db9f8;
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;

}

.intro {
    background: url("img/mountain.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.49%;
    position: relative;
    justify-content: center;

    .intro-text {
        display: flex;
        position:absolute;
        width: 100%;
        top:0;
        bottom:0;
        left:0;
        right:0;
        transform: translateY(2.5vw);
        line-height: 6vw;
        text-align: left;

        &__phrase {
            width: 80%;
            display: flex;
            color: #404642;
            font-size: 5vw;
            position: absolute;
            padding-left: 14.5vw;
        }

        &__word {
            color: #737c54;
            font-size: 5vw;
            display:block;
            position: absolute;
            margin: 0 auto;
            padding-top: 6vw;
            left: 47.5vw;
        }
    }

    .contact {
        font-size: 8vw;
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
        display:flex;
        line-height: 9vw;

        .contact-icon {
            color:black;
            position:relative;
            margin: 0 10vw;

            &:hover {
                color: #737c54;
            }

            &__text {
                font-size: 4vw;
            }
        }
    }

    .projectstitle {
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        background-color: rgba(0,0,0,.3);
        color: #fff;
        text-align: center;
        font-size: 3vw;
        padding: 0 5vw;
        }
    }

.projectsection {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 2rem;

    @include media-lg {
        flex-direction: row;
    }
}

.project {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    border-style:solid;
    
    

    @include media-lg {
        width: 50vw;
        
    }

    .project-name {
        text-align: center;
        background-color: #737c54;
    }

    .project-container {
        flex-direction: row;
        padding: 1rem 1rem;

        @include media-lg {
            flex-direction: column;
            padding: 1rem 1rem 1rem 0;
        }
    }

    .project-info {
        display: flex;
        flex-direction: column;
        

        @include media-lg {
            flex-direction: row;
        }

      &__container {
        height: 232px;
        position: relative;
        margin: 0 auto;
        display: flex;
      }

        &__img {
            margin: 0 auto;
           width: 200px;
           height: 200px;
            padding: 1rem 1rem;
        }

        &__live {
           position: relative;
           top: 60px;
           z-index: 3;
           position: absolute;
           left: 20px;
        }

        &__code {
            position: relative;
            top: 150px;
            z-index: 3;
            position: absolute;
            left: 120px;
         }

        &__goalstext {
            padding: 1rem 0;
            text-align: center;

            @include media-lg {
                text-align: left;
            }
        }

        &__goalstitle {
            text-align: center;
        }
    }


    .project-tools {

        text-align: center;

        &__list {
            padding: 1rem 0;
            text-align: center;

            @include media-lg {
                text-align: left;
            }
        }
    }

    
}

.footer {
    position: relative;
    padding: 0 2rem;
    background-color: lightcyan;
}







@import "responsive";