@import "variables";


html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height:auto;
    font-family: "lato", sans-serif;
    background-color: #071540;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;

}



.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    .intro-text {
        max-width: 80%;
        display: flex;
        font-size: calc(21px + 1.5vw);
        line-height: 1.5;

            @include media-md {
                max-width: 80%;
                font-size: calc(28px + 1.5vw);
                line-height: 1.5;

            }
            
            @include media-lg {
                max-width: 80%;
                font-size: calc(28px + 1.5vw);
                line-height: 1.5;
            }

            @include media-sm-landscape {
                font-size: 25px;
                line-height: 1;
            }

        &__phrase {
            color: white;
        }

        &__word {
            color: #2CBF6C;
        }
    }

    .contact {
        
        font-size: calc(50px + 6.5vw);
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 5vw;
        

        @include media-md {
            font-size: calc(50px + 8.5vw);
            flex-direction: row;
        }

        @include media-lg {
            font-size: calc(28px + 8.5vw);
            
        }

        @include media-sm-landscape {
            font-size: 50px;
            
        }

        .contact-icon {
            color:white;
            

            &:hover {
                color: #2CBF6C;
            }

            &__text {
                font-size: 2vw;
            }
        }
    }

    .fa-solid {
        width: 20vw;
    }

    .fa-brands {
        width: 20vw;
    }

    .arrowcontainer {
        display: flex;
        
    }

    .fa-angle-down {
        font-size: 15vw;
        

        &:hover {
            color: #2CBF6C;
        }

        @include media-md {
          font-size: 5vw;
        }

        @include media-sm-landscape {
            font-size: 30px;
        }
    }
    }

    

.projecttitle {
    text-align: center;
    font-size: 3vw;
    font-size: calc(28px + 3vw);

    
}

.projectsection {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding: 6vw 0 8rem 0;
    

}

.line {
    display: block;
    width: 50vw;
    
    margin: 4rem 0;
    
}

.project {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
    overflow: hidden;
    width: 70%;
    border-color: #2CBF6C;
    border-width: 1px;
    border-style: solid;

    @include media-lg {
        align-items: flex-start;
        flex-direction: row-reverse;
        justify-content:space-between;
        
    }

    .project-img {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;

        @include media-lg {
            flex-direction: column;
            padding: 0;
            padding-top: 5rem;
            padding-right: 8vw;
            padding-left: 5rem;
            width: 200px;
        }

      &__container {
        position: relative;
        width: 200px;
        height: 200px;
        display: inline-block;
        margin: 0 auto;
        text-align: center;


        @include media-lg {
            margin:0;
        }
      }

        &__pic {
            margin: 0 auto;
            width: 200px;
            height: 200px;
            display: block;
            border-radius: 20px;
        }

        &__live {
           position: absolute;
           background: rgba(161, 161, 161, 0.8);
           left: 0;
           top: 0;
           height: 50%;
           width: 100%;
           font-size: 30px;
           border-top-left-radius: 20px;
           border-top-right-radius: 20px;
           line-height: 100px;
           font-weight: 900;
           

           &:hover {
            color: white;
            background-color: #41BF78;
        }

        }

        &__code {
            position: absolute;
            background: rgba(161, 161, 161, 0.8);
            right: 0;
            bottom: 0;
            height: 50%;
            width: 100%;
            font-size: 30px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            line-height: 100px;
            font-weight: 900;

            &:hover {
                color: white;
                background-color: #41BF78;
            }
         }

         &__tools {
            padding: 2rem 4rem;
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            

            @include media-lg {
                padding: 2rem 0 3rem 0;
                text-align: left;
                width: auto;
                justify-content:flex-start;
            }
        }

        &__tag {
            display: flex;
            background-color: #6a738c;
            color: #03081a;
            margin: 2px;
            width: fit-content;
            border-radius: 3px;
            padding: 4px;
            
        }
    }

    .project-info {
        flex-direction: column;
        padding: 4rem 4rem 2rem 4rem;
        display: flex;
        align-items: center;

        @include media-lg {
            align-items: flex-start;
            padding: 0;
            padding-top: 3rem;
            padding-left: 8vw;
            padding-bottom: 3rem;
        }


        &__name {
            display: flex;
            font-size: calc(28px + 1vw);
            text-align: center;
            padding: 1rem 0;
            

            @include media-lg {
                padding-top: 0;
                padding-bottom: 3rem;
                text-align: left;
            }
        }

        &__goalstext {
            display: flex;
            padding: 1rem 0;
            text-align: center;
            padding-bottom: 4rem;
            font-size: calc(20px + 0.3vw);

            @include media-lg {
                text-align: left;
                padding-bottom: 4rem;
            }
        }

        &__button {
            padding: 10px 30px;
            border: 1px solid #2CBF6C;
            background-color: rgb(65, 191, 120);
            color: rgb(7, 21, 64);
            text-align: center;
            font-size: 2rem;
            border-radius: 12px;
            box-shadow: 0 8px 16px 0 rgba(65,191,120,0.2), 0 6px 20px 0 rgba(65,191,120,0.19);
            cursor: pointer;
            

              
            }
        }
    }



.footer {
    display: flex;
    justify-content: center;
    padding:0 15% 8rem 15%;
    font-size: calc(20px + 1vw);
    align-items: center;
    flex-direction: column;
    
    @include media-lg {
        font-size: calc(28px + 1vw);
    }

    .footer-text {
        display: flex;
        text-align: center;
        padding-bottom: 3rem;

        @include media-lg {
        }
    }

    .footer-links {
        font-size: calc(28px + 2vw);
        width: 100%;
        text-align: center;
        word-spacing: 5rem;

        @include media-lg {
            word-spacing: 7rem;
        }

        &__icon {

            &:hover {
                color:#2CBF6C;
            }
        }
    }

     

        
    
}







@import "responsive";

