@import url("https://use.typekit.net/wmo1yjc.css");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: auto;
  font-family: "lato", sans-serif;
  background-color: #071540;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}

@media screen and (min-width: 992px) {
  body {
    margin: 0;
  }
}

a {
  text-decoration: none;
  margin: 0;
  color: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

code {
  font-style: oblique;
}

pre {
  overflow: auto;
  margin: 3rem 0 4rem 0;
  font-size: 16px;
  background-color: #03081a;
  padding: 2rem;
}

@media screen and (min-width: 992px) {
  pre {
    font-size: calc(20px + 0.2vw);
  }
}

.intro {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .intro {
    height: 100vh;
  }
}

.intro .intro-text {
  max-width: 80%;
  display: flex;
  font-size: calc(21px + 1.5vw);
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .intro .intro-text {
    max-width: 80%;
    font-size: calc(28px + 1.5vw);
    line-height: 1.5;
  }
}

@media screen and (min-width: 992px) {
  .intro .intro-text {
    max-width: 80%;
    font-size: calc(28px + 1.5vw);
    line-height: 1.5;
  }
}

@media screen and (max-height: 575.98px) and (orientation: landscape) {
  .intro .intro-text {
    font-size: 25px;
    line-height: 1;
  }
}

.intro .intro-text__phrase {
  color: white;
}

.intro .intro-text__word {
  color: #2CBF6C;
}

.intro .contact {
  font-size: calc(50px + 6.5vw);
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

@media screen and (min-width: 768px) {
  .intro .contact {
    font-size: calc(50px + 8.5vw);
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .intro .contact {
    font-size: calc(28px + 8.5vw);
  }
}

@media screen and (max-height: 575.98px) and (orientation: landscape) {
  .intro .contact {
    font-size: 50px;
  }
}

.intro .contact .contact-icon {
  color: white;
}

.intro .contact .contact-icon:hover {
  color: #2CBF6C;
}

.intro .contact .contact-icon__text {
  font-size: calc(20px + 0.5vw);
}

.intro .fa-solid {
  width: 20vw;
}

.intro .fa-brands {
  width: 20vw;
}

.intro .arrowcontainer {
  display: flex;
}

.intro .fa-angle-down {
  font-size: 15vw;
}

.intro .fa-angle-down:hover {
  color: #2CBF6C;
}

@media screen and (min-width: 768px) {
  .intro .fa-angle-down {
    font-size: 5vw;
  }
}

@media screen and (max-height: 575.98px) and (orientation: landscape) {
  .intro .fa-angle-down {
    font-size: 30px;
  }
}

.nav {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #03081a;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .nav {
    position: fixed;
    padding-right: 30px;
    background-color: #071540;
    bottom: auto;
    right: 0;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    width: auto;
  }
}

.nav .nav-icons {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  gap: 3rem;
  height: 51px;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .nav .nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    gap: 2rem;
    height: auto;
    font-size: calc(21px + 1.5vw);
  }
}

.nav .nav-icons__icon {
  text-align: center;
  width: 45px;
}

@media screen and (min-width: 992px) {
  .nav .nav-icons__icon {
    width: 60px;
    text-align: right;
    height: 55px;
  }
}

.nav .nav-icons__icon:hover {
  color: #2CBF6C;
}

.projecttitle {
  text-align: center;
  font-size: 3vw;
  font-size: calc(28px + 3vw);
}

.projectsection {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6vw 0 0 0;
}

@media screen and (min-width: 992px) {
  .projectsection {
    padding: 6vw 0 8rem 0;
  }
}

.project {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  width: 95%;
  border-color: #2CBF6C;
  border-width: 1px;
  border-style: solid;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .project {
    display: grid;
    grid-template-areas: 'header header header right right right' 'main main main right right right' 'left left left right right right' 'footer footer footer footer footer footer';
    padding: 3rem;
    border-width: 3px;
    width: 70%;
    align-items: start;
  }
}

.project .project-name {
  display: flex;
  font-size: calc(28px + 1vw);
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .project .project-name {
    grid-area: header;
    padding: 0;
    text-align: left;
  }
}

.project .project-info {
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: calc(20px + 0.3vw);
}

@media screen and (min-width: 992px) {
  .project .project-info {
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
    grid-area: main;
    align-self: center;
    text-align: left;
  }
}

.project-img {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

@media screen and (min-width: 992px) {
  .project-img {
    flex-direction: column;
    padding: 0;
    padding-left: 2rem;
    grid-area: right;
    justify-content: center;
    justify-self: end;
  }
}

.project-img__pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
  border: 3px solid white;
}

@media screen and (min-width: 992px) {
  .project-img__pic {
    width: calc(300px + .5vw);
    height: calc(300px + .5vw);
  }
}

.project-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
  gap: 1rem;
}

@media screen and (min-width: 992px) {
  .project-btns {
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: left;
    padding: 0;
    gap: 1rem;
    align-self: flex-end;
    flex-flow: wrap;
  }
}

.project-btns__button {
  padding: 10px 30px;
  border: 1px solid #2CBF6C;
  background-color: #41bf78;
  color: #071540;
  text-align: center;
  font-size: 2rem;
  border-radius: 12px;
  width: 230px;
  cursor: pointer;
}

.project-btns__wrapper {
  gap: 1rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  .project-btns__wrapper {
    justify-content: flex-start;
  }
}

.project-btns__button2 {
  padding: 10px 30px;
  border: 1px solid #2CBF6C;
  background-color: #071540;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 12px;
  cursor: pointer;
  width: 230px;
}

.project-tools {
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .project-tools {
    padding: 0;
    padding-top: 6rem;
    text-align: left;
    justify-content: flex-start;
    grid-area: footer;
  }
}

.project-tools__tag {
  display: flex;
  background-color: #6a738c;
  color: #03081a;
  margin: 2px;
  width: fit-content;
  border-radius: 3px;
  padding: 4px 8px 4px 4px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 3rem 15% 0 15%;
  font-size: calc(20px + 1vw);
  align-items: center;
  flex-direction: column;
  margin-bottom: 110px;
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 0 15% 8rem 15%;
    font-size: calc(28px + 1vw);
    margin: 0;
  }
}

.footer .footer-text {
  display: flex;
  text-align: center;
  padding-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .footer .footer-text {
    padding-bottom: 3rem;
  }
}

.footer .footer-links {
  font-size: calc(28px + 2vw);
  width: 100%;
  text-align: center;
  word-spacing: 5rem;
}

@media screen and (min-width: 992px) {
  .footer .footer-links {
    word-spacing: 7rem;
  }
}

.footer .footer-links__icon:hover {
  color: #2CBF6C;
}

.intro {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .intro {
    height: 100vh;
  }
}

.title {
  font-size: calc(20px + 2vw);
  text-align: center;
}

@media screen and (min-width: 992px) {
  .title {
    padding: 0 10vw;
    text-align: center;
    font-size: calc(28px + 3vw);
  }
}

.preview {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

@media screen and (min-width: 992px) {
  .preview {
    flex-direction: row;
    align-items: flex-end;
    width: 80vw;
  }
}

.preview .preview-desktop__pic {
  width: 80%;
  height: auto;
  box-shadow: 15px 20px #061133;
}

@media screen and (min-width: 992px) {
  .preview .preview-desktop__pic {
    width: calc(35rem + 2.3vw);
    height: auto;
  }
}

.preview .preview-mobile__pic {
  height: auto;
  width: calc(8rem + 0.5vw);
  box-shadow: 15px 20px #061133;
}

@media screen and (min-width: 992px) {
  .preview .preview-mobile__pic {
    width: calc(10rem + 0.8vw);
    height: auto;
  }
}

.main {
  padding: 3rem 10vw 0 10vw;
}

@media screen and (min-width: 992px) {
  .main {
    padding: 3rem 19vw;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .description {
    text-align: left;
  }
}

.description .description-title {
  font-size: calc(28px + 1vw);
  padding: 2rem 0;
}

@media screen and (min-width: 992px) {
  .description .description-title {
    padding: 3rem 0;
  }
}

.description .description-text {
  font-size: calc(20px + 0.3vw);
  padding-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .description .description-text {
    padding-bottom: 2rem;
  }
}

.description .description-pic {
  width: 75vw;
  padding: 5rem 0;
}

@media screen and (min-width: 992px) {
  .description .description-pic {
    width: 60vw;
  }
}

.links {
  padding-bottom: 5rem;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .links {
    padding: 3rem 19vw;
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.links .links-title {
  font-size: calc(20px + 1vw);
  padding: 1rem 0 2rem 0;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .links .links-title {
    font-size: calc(28px + 1vw);
    padding: 2rem 0 3rem 0;
  }
}

.links .links-btn {
  display: flex;
  font-size: calc(20px + 1vw);
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .links .links-btn {
    flex-direction: row;
    gap: 4rem;
  }
}

.links .links-btn__button {
  padding: 10px 30px;
  border: 1px solid #2CBF6C;
  background-color: #071540;
  color: white;
  text-align: center;
  font-size: 3rem;
  border-radius: 12px;
  cursor: pointer;
  width: 200px;
}

.links .links-btn__button:hover {
  background-color: #2CBF6C;
  color: #071540;
}

.line {
  height: 1px;
  border: none;
  background-color: #2CBF6C;
  width: 80vw;
  color: #2CBF6C;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 992px) {
  .line {
    width: 40vw;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}

.invisline {
  margin: 3rem 0;
}

.resumebody {
  padding: 2rem 2rem 4rem 2rem;
  line-height: 2rem;
}

@media screen and (min-width: 992px) {
  .resumebody {
    padding: 2rem 6rem;
  }
}

.resumedownload {
  text-decoration: underline;
  font-size: 2rem;
  line-height: 3rem;
}

@media screen and (min-width: 992px) {
  .resumedownload {
    line-height: 5rem;
  }
}

.sectiontitle {
  padding: 4rem 0 0;
}

.resumedate {
  padding: 0.5rem 0;
}

.resumeitem {
  padding-top: 2rem;
}
/*# sourceMappingURL=style.css.map */